@import Styles/HPage
@import Styles/Projects
@import Styles/about


.App
  text-align: center
  justify-items: center
  font-size: 16px
  width: 100%
@media screen and (min-width: 320px)
  .App
    font-size: calc(16px + 6 * ((100vw - 320px) / 680))

@media screen and (min-width: 1000px)
  .App
    font-size: 22px




*
  -moz-user-select: none
  -khtml-user-select: none
  -webkit-user-select: none
  -ms-user-select: none
  user-select: none
  font-weight: normal
  font-style: normal
  cursor: none


  
:root
  --color-cursor: 220, 90, 90
  --cursor-outline-shade: 0.5
  --cursor-size: 120px
  --cursor-outline-size: 1552px



cursorall


img
  max-width: 100%


.puttoback
  z-index: 10
  height: 5px
  display: flex
  width: 100%

nav
  display: flex
  justify-content: space-evenly
  align-items: center

  

.nav-links
  display: flex
  justify-content: center
  align-items: center
  list-style: none
  z-index: 9
  position: fixed
  height: 50px
  background-color: white
  width: 100%
  margin-top: 50px

  


.mainborder
  z-index: 99999
  position: fixed
  transform: translateY(-45px)
  -webkit-transition: ease-out 0.4s
  -moz-transition: ease-out 0.4s
  transition: ease-out 0.4s
  background-color: red
  width: 90%
  border: 5px double rgb(12, 162, 175)
  background-color: #fff

.wrapper
  display: flex
  flex-direction: column
  min-height: 100vh
  background-color: rgb(240, 230, 140)


$color1: rgb(230, 76, 67)
$color2: rgb(235, 109, 127)
$color3:rgb(234, 176, 0)
$color4:rgb(1, 143, 152)

:export 
    color1: $color1
    color2: $color2
    color3: $color3
    color4: $color4



.color1
  background-color: rgb(230, 76, 67)

.color2
  color: rgb(235, 109, 127)

.color3
  color: rgb(234, 176, 0)

.color4
  background-color: rgb(1, 143, 152)

.color5
  background-color: rgb(234, 176, 0)

.border0
  width: 90%
  margin: auto
  border: 5px double rgb(12, 162, 175)

page6, page5, page4, page3, page2 
  padding-top: 1px



